@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --orange-color: #f15d35;
  --bg-color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  height: 500vh;
}
/* HEADER */
.header {
  background-color: var(--orange-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.header-content {
  display: flex;
  width: 78%;
  justify-content: space-between;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.5px;
}

.header-links a {
  background-color: #fff;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.header-links a i {
  color: var(--orange-color);
  font-size: 15px;
}

/* HEADER RIGHT */
.header .header-right {
  display: flex;
  gap: 25px;
}

.header-right .phone,
.header-right .mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-right .phone a,
.header-right .mail a {
  background-color: #fff;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right .phone a i,
.header-right .mail a i {
  color: var(--orange-color);
  font-size: 15px;
}

.header-right .phone p,
.header-right .mail p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar .content {
  background-image: url(imgs/header-1.png);
  background-size: 85vw 12vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 209px;
  z-index: 9999;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 45px;
}

.navbar ul li a {
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 5px 20px;
  transition: 0.2s ease;
}

.navbar ul li a.active {
  background-color: var(--orange-color);
  border: 1px solid white;
}

.navbar ul li a:hover {
  background-color: var(--orange-color);
}

.toggle-btn {
  display: none;
}

/* HOME */
.swiper {
  width: 100%;
  height: 97vh;
  transform: translateY(-3.69rem);
  background-color: #4c7db4;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-text {
  position: absolute;
  width: 40vw;
  top: 23vh;
  left: 10vw;
  color: white;
}

.slide-text h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;

  margin-bottom: 0.5em;
}

.slide-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 1.4em;
}

.slide-text button {
  font-size: 20px;
  background-color: var(--orange-color);
  border: none;
  outline: none;
  color: white;
  padding: 8px 25px;
  font-weight: 500;
  border: 2px solid transparent;
  transition: 0.2s ease;
}

.slide-text button:hover {
  color: var(--orange-color);
  background-color: transparent;
  border: 2px solid var(--orange-color);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: rgb(255, 255, 255) !important;
  font-size: 20px !important;
  font-weight: 600;
}

/* Slide text styling */

/* ABOUT */
.about {
  width: 100%;
  /* background-color: var(--bg-color); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-8.5rem);
  overflow-y: visible;
  z-index: 99;
}

.about .about-bg {
  position: absolute;
  left: -260px;
  bottom: -180px;
}

.about .about-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.about .about-content .about-left {
  width: 47%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-top: 5.5rem;
}

.about-content .about-left h4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
}

.about-content .about-left h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 2rem;
}

.about-content .about-left h1 span {
  border-bottom: 10px solid var(--orange-color);
}

.about-content .about-left p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}
.about .about-content .about-right {
  width: 50%;
  z-index: 999;
}

.about .about-content .about-right img {
  width: 100%;
}

/* CARD */

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.wrapper i {
  height: 50px;
  width: 50px;
  background: var(--orange-color);
  color: white;
  border: 2px solid white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 61%;
  font-size: 1.25 rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -5px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
  margin-top: 2rem;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  height: 380px;
  border-radius: 15px;
  /* overflow: hidden; */
  list-style: none;
  background: #fff;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  width: 98%;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel .card img {
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

.section-heading {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  position: relative;
  width: fit-content;
  display: block;
  margin: 2rem auto;
}

.section-heading::after {
  z-index: -1;
  content: "3D Services";
  font-size: 80px;
  width: 100%;
  color: #f79f90;
  position: absolute;
  top: -2px;
  left: 2px;
}

.section-heading::before {
  z-index: -1;
  content: "3D Services";
  font-size: 80px;
  width: 100%;
  color: var(--orange-color);
  position: absolute;
  top: -6px;
  left: 4px;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.cards-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 3rem auto 2rem auto;
  align-items: center;
}

.cards-inner-container .card {
  width: 290px;
  height: 374px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.cards-container .cards-heading {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  position: relative;
  width: fit-content;
  display: block;
  margin: 2rem auto;
}

.cards-container .cards-heading::after {
  z-index: -1;
  content: "2D Services";
  font-size: 80px;
  width: 100%;
  color: #f79f90;
  position: absolute;
  top: -2px;
  left: 2px;
}

.cards-container .cards-heading::before {
  z-index: -1;
  content: "2D Services";
  font-size: 80px;
  width: 100%;
  color: var(--orange-color);
  position: absolute;
  top: -6px;
  left: 4px;
}

/* .cards-inner-container .card img {
  object-fit: contain;
} */
/* MEDIA QUERIES */
@media (max-width: 1300px) {
  .header-content {
    width: 97%;
  }
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }

  .navbar .content {
    background-size: 118vw 12vh;
    width: 100%;
    padding: 13px 29px;
    z-index: 9999;
  }

  .toggle-btn {
    display: block;
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    color: white;
    border-radius: 5px;
  }

  .toggle-btn i {
    font-size: 30px;
  }

  .navbar-content {
    position: relative;
  }

  .toggle-menu {
    position: absolute;
    top: 0;
    left: -350px;
    width: 350px;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    height: 100vh;
    flex-direction: column;
    padding-top: 2rem;
    border: 1px solid rgb(15, 15, 15);
    transition: 0.2s ease;
  }

  .toggle-menu.active {
    left: 0;
  }

  .swiper {
    height: 102.5vh;
  }
}

@media (max-width: 768px) {
  .swiper {
    height: 120.5vh;
  }
  .slide-text {
    width: 53vw;
  }
  .about .about-content {
    flex-direction: column;
    width: 95%;
  }

  .about .about-content .about-left {
    width: 100%;

    padding-top: 5.5rem;
  }
  .about .about-content .about-right {
    width: 100%;
  }
  .about .about-bg {
    width: 250px;
    left: -176px;
  }
}

@media (max-width: 570px) {
  .slide-text {
    width: 69vw;
  }
}

@media (max-width: 480px) {
  .swiper {
    height: 98.5vh;
  }

  .slide-text {
    width: 100vw;
  }
  .slide-text p {
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1.4em;
    width: 86%;
  }
  .slide-text h1 {
    font-size: 31px;
    font-weight: 500;
    line-height: 37px;
    margin-bottom: 0.5em;
  }

  .slide-text button {
    font-size: 16px;
    padding: 5px 13px;
  }

  .about .about-bg {
    width: 215px;
    left: -135px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
